<div class="login-container">
    <div class="login-card">
      <div class="text-center mb-4">
        <img src="https://i.ibb.co/Kr4pkgM/logo-removebg-preview.png" alt="Logo" class="login-logo"> 
      </div>
      <h3 class="login-title">Login</h3>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm"> 
        <div class="form-group mb-3">
          <input type="text" class="form-control login-input" placeholder="Email" formControlName="email" required>
        </div>
        <div class="form-group mb-3">
          <input type="password" class="form-control login-input" placeholder="Contraseña" formControlName="password" required>
        </div>
        <button type="submit" class="btn btn-login w-100">Ingresar</button>
      </form>
    </div>
  </div>
