<div class="home-card">
  <h2 class="home-title text-center mb-4">Asignación de Ciclo y Materia</h2>

  <form class="profesor-form">
    <div class="form-group">
      <label for="ciclo-select">Seleccione un ciclo:</label>
      <select
        id="ciclo-select"
        name="ciclo"
        [(ngModel)]="selectedCicloId"
        (ngModelChange)="onCicloChange()"
        class="form-control login-input"
        required
      >
        <option value="" disabled>Seleccione un ciclo</option>
        <option *ngFor="let ciclo of ciclos" [value]="ciclo.id">
          {{ ciclo.nombre }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="materia-select">Seleccione una materia:</label>
      <select
        id="materia-select"
        name="materia"
        [(ngModel)]="selectedMateriaId"
        (ngModelChange)="onMateriaChange()"
        class="form-control login-input"
        required
      >
        <option value="" disabled>Seleccione una materia</option>
        <option *ngFor="let materia of materiasFiltradas" [value]="materia.id">
          {{ materia.nombre }}
        </option>
      </select>
    </div>

    <!-- <div class="button-container">
      <button type="button" class="btn-home small-button">
        Guardar Selección
      </button>
    </div> -->
  </form>

  <!-- LISTA DE ESTUDIANTES -->
  <div class="form-group mt-4">
    <h2 class="home-title text-yellow">Lista De Estudiantes</h2>
    <div class="table-responsive">
      <table
        class="table table-bordered text-center custom-table"
        style="background-color: transparent"
      >
        <!-- Encabezados principales -->
        <thead>
          <tr>
            <th rowspan="2" class="text-yellow">Nombre Completo</th>
            <th colspan="6" class="text-yellow">
              Trabajos / Tareas / Exposiciones 40%
            </th>
            <th colspan="4" class="text-yellow">Quiz 20%</th>
            <th colspan="2" class="text-yellow">Actitudinal 10%</th>
            <th colspan="2" class="text-yellow">Examen Final 30%</th>
            <th colspan="2" class="text-yellow">DEFINITIVA 100%</th>
          </tr>
          <!-- Subencabezados -->
          <tr>
            <th class="text-yellow">Taller</th>
            <th class="text-yellow">Trab</th>
            <th class="text-yellow">Expos</th>
            <th class="text-yellow">Tarea</th>
            <th class="text-yellow">Ponderado</th>
            <th class="text-yellow">Des</th>

            <th class="text-yellow">Quiz 1</th>
            <th class="text-yellow">Quiz 2</th>
            <th class="text-yellow">Ponderado</th>
            <th class="text-yellow">Des</th>

            <th class="text-yellow">Val</th>
            <th class="text-yellow">Des</th>

            <th class="text-yellow">Val</th>
            <th class="text-yellow">Des</th>

            <th class="text-yellow">Val</th>
            <th class="text-yellow">Des</th>
          </tr>
        </thead>

        <!-- Filas dinámicas para los estudiantes -->
        <tbody>
          <tr *ngFor="let estudiante of estudiantesFiltrados; let i = index">
            <td class="custom-row nombre-columna">
              {{ estudiante.nombres }} {{ estudiante.apellidos }}
            </td>

            <!-- Trabajos / Tareas / Exposiciones -->
            <td>
              <input
                type="number"
                [(ngModel)]="estudiante.notas.notaTaller"
                [value]="estudiante.notas.notaTaller"
                (change)="calcularPromedio(estudiante)"
                class="form-control custom-textbox calificacion-textbox"
                style="color: white; font-weight: bold; margin: 1px"
                min="1"
                max="10"
              />
            </td>
            <td>
              <input
                type="number"
                [(ngModel)]="estudiante.notas.notaTrabajo"
                [value]="estudiante.notas.notaTrabajo"
                (change)="calcularPromedio(estudiante)"
                class="form-control custom-textbox calificacion-textbox"
                style="color: white; font-weight: bold; margin: 1px"
                min="1"
                max="10"
              />
            </td>
            <td>
              <input
                type="number"
                [(ngModel)]="estudiante.notas.notaExposicion"
                [value]="estudiante.notas.notaExposicion"
                (change)="calcularPromedio(estudiante)"
                class="form-control custom-textbox calificacion-textbox"
                style="color: white; font-weight: bold; margin: 1px"
                min="1"
                max="10"
              />
            </td>
            <td>
              <input
                type="number"
                [(ngModel)]="estudiante.notas.notaTarea"
                [value]="estudiante.notas.notaTarea"
                (change)="calcularPromedio(estudiante)"
                class="form-control custom-textbox calificacion-textbox"
                style="color: white; font-weight: bold; margin: 1px"
                min="1"
                max="10"
              />
            </td>
            <td>
              <label
                class="form-control custom-textbox calificacion-textbox"
                style="color: white; font-weight: bold; margin: 1px"
                >{{ estudiante.notas.promedioTrabajos }}</label
              >
            </td>
            <td>
              <label
                class="form-control custom-textbox calificacion-textbox"
                style="color: white; font-weight: bold; margin: 1px"
                >{{ estudiante.notas.desTrabajos }}</label
              >
            </td>

            <!-- Quiz -->
            <td>
              <input
                type="number"
                [(ngModel)]="estudiante.notas.notaQuiz1"
                [value]="estudiante.notas.notaQuiz1"
                (change)="calcularPromedio(estudiante)"
                class="form-control custom-textbox calificacion-textbox"
                style="color: white"
                min="1"
                max="10"
              />
            </td>
            <td>
              <input
                type="number"
                [(ngModel)]="estudiante.notas.notaQuiz2"
                [value]="estudiante.notas.notaQuiz2"
                (change)="calcularPromedio(estudiante)"
                class="form-control custom-textbox calificacion-textbox"
                style="color: white"
                min="1"
                max="10"
              />
            </td>
            <td>
              <label
                class="form-control custom-textbox calificacion-textbox"
                style="color: white; font-weight: bold; margin: 1px"
                >{{ estudiante.notas.promedioQuizes }}</label
              >
            </td>
            <td>
              <label
                class="form-control custom-textbox calificacion-textbox"
                style="color: white; font-weight: bold; margin: 1px"
                >{{ estudiante.notas.desQuizes }}</label
              >
            </td>

            <!-- Actitudinal -->
            <td>
              <input
                type="number"
                [(ngModel)]="estudiante.notas.notaActitudinal"
                [value]="estudiante.notas.notaActitudinal"
                (change)="calcularPromedio(estudiante)"
                class="form-control custom-textbox calificacion-textbox"
                style="color: white"
                min="1"
                max="10"
              />
            </td>
            <td>
              <label
                class="form-control custom-textbox calificacion-textbox"
                style="color: white; font-weight: bold; margin: 1px"
                >{{ estudiante.notas.desActitudinal }}</label
              >
            </td>

            <!-- Examen Final -->
            <td>
              <input
                type="number"
                [(ngModel)]="estudiante.notas.notaExamFinal"
                [value]="estudiante.notas.notaExamFinal"
                (change)="calcularPromedio(estudiante)"
                class="form-control custom-textbox calificacion-textbox"
                style="color: white"
                min="1"
                max="10"
              />
            </td>
            <td>
              <label
                class="form-control custom-textbox calificacion-textbox"
                style="color: white; font-weight: bold; margin: 1px"
                >{{ estudiante.notas.desExamenFinal }}</label
              >
            </td>

            <!-- Definitiva -->
            <td>
              <label
                class="form-control custom-textbox calificacion-textbox"
                style="color: white"
                >{{ estudiante.notas.definitiva }}</label
              >
            </td>
            <td>
              <label
                class="form-control custom-textbox calificacion-textbox"
                style="color: white; font-weight: bold; margin: 1px"
                >{{ estudiante.notas.desDefinitiva }}</label
              >
            </td>
          </tr>
        </tbody>
      </table>

      <p *ngIf="estudiantesFiltrados.length === 0" class="text-muted">
        No hay estudiantes asignados a este ciclo.
      </p>
    </div>

    <div class="button-container" *ngIf="isSelectionValid()">
      <button type="button" class="btn-home small-button" (click)="guardarSeleccion()">
        Guardar Selección
      </button>
    </div>
  </div>
</div>
