/* Estilos generales */
body {
  background-color: #1d1d1d;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Estilos para el Home */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-logo {
  text-align: center;
  margin-bottom: 10px; /* Reducido el espaciado entre el logo y el card */
}

.login-logo {
  width: 15rem; /* Ajusta el tamaño del logo según sea necesario */
}

.home-card {
  background-color: #333;
  border: 2px solid #ff9800; /* Bordes naranjas */
  border-radius: 10px;
  padding: 20px; /* Ajuste del padding para mayor uniformidad */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.home-title {
  font-size: 24px;
  margin-bottom: 15px; /* Reducido el margen para que el título esté más cerca del botón */
  color: #ff9800;
}

.home-options {
  display: flex;
  justify-content: space-around;
}

.btn-home {
  background-color: #ff9800;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin: 0 5px; /* Ajustado el margen para mantener la cercanía entre los botones */
}

.btn-home:hover {
  background-color: #e68900;
}

/* Estilos para el Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background-color: #333;
  border: 2px solid #ff9800;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px; 
  color: #ff9800;
}

.login-input {
  background-color: #444; /* Color de fondo para el input */
  border: 1px solid #ff9800; /* Borde del input */
  color: #fff; /* Color del texto en el input */
}

.login-input::placeholder {
  color: #bbb; /* Color del placeholder */
}

.btn-login {
  background-color: #ff9800; /* Color del botón */
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.btn-login:hover {
  background-color: #e68900; /* Color del botón al pasar el mouse */
}

/* -------- Estilos para el Componente Profesor -------- */

.profesor-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 40px auto;
}

/* Formulario Profesor */
.profesor-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #ff9800;
}

/* Inputs del Formulario */
.profesor-form input[type="text"],
.profesor-form input[type="date"],
.profesor-form input[type="email"],
.profesor-form input[type="checkbox"] {
  background-color: #444;
  border: 1px solid #ff9800;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* Botones del Formulario */
.btn-profesor {
  background-color: #ff9800;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btn-profesor:hover {
  background-color: #e68900;
}

/* Lista de Profesores */
.profesor-list-container {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #ff9800;
}

.profesor-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.profesor-item {
  background-color: #444;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ff9800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px; /* Espaciado entre los elementos */
}

.profesor-item h5 {
  margin: 0 0 10px;
  color: #ff9800;
}

.profesor-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profesor-actions {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los botones */
}

.profesor-actions button {
  width: 120px; /* Para asegurar uniformidad */
  align-self: flex-end; /* Alinear a la derecha */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.small-button {
  padding: 8px 16px; /* Ajusta el tamaño según lo necesario */
  font-size: 14px; /* Tamaño de fuente más pequeño */
  text-align: center; /* Centrar texto dentro del botón */
  display: flex; /* Usar flex para alinear el contenido */
  justify-content: center; /* Centrar horizontalmente el contenido */
  align-items: center; /* Centrar verticalmente el contenido */
}

.profesor-item button {
  margin: 5px 0;
  width: 80%;
  align-self: center;
}


/*Estilos para el navbar*/
/*.navbar {
  background-color: #333;
  border-bottom: 2px solid #ff9800;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: #ff9800;
  font-size: 24px;
  text-decoration: none;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #e68900;
}
*/
.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.navbar-link, .navbar-logo {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar-link:hover, .navbar-logo:hover {
  background-color: #555;
  border-radius: 4px;
}

.navbar-logo {
  font-weight: bold;
}

/*Estilos para calificaciones*/
/* Fondo igual al textbox */
.custom-textbox {
  background-color: #444;
  color: orange;
  border: 1px solid #444;
}

.custom-textbox:focus {
  background-color: #444;
  border-color: #66afe9;
  outline: none;
}

.text-orange {
  color: orange;
}

.custom-row {
  background-color: #444;
  color: orange;
}

.custom-table th {
  background-color: #444;
  color: orange;
}

.custom-table td {
  background-color: #444;
  color: orange;
}

th.text-yellow {
padding: 1em;
}

td input.calificacion-textbox{
  border: 1px solid #555;
  width: auto;
  
}

/* Centrar verticalmente el contenido de las celdas de la tabla */
table.custom-table td, 
table.custom-table th {
  vertical-align: middle; /* Asegura que el contenido de las celdas esté centrado verticalmente */
  text-align: center; /* Mantiene el texto centrado horizontalmente */
}

/* Asegurar que los inputs dentro de las celdas estén alineados correctamente */
table.custom-table input {
  display: block; /* Para que los inputs se comporten como elementos de bloque */
  margin: auto; /* Centra los inputs horizontalmente */
  text-align: center; /* Centra el texto dentro del input */
  height: 2rem; /* Ajusta la altura si es necesario para que se vea consistente */
}

/*INICIO Eliminar las flechas de los input number */
/* Para Chrome, Safari y Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/*FIN Eliminar las flechas de los input number */


.table-responsive {
  overflow-x: auto;
}

