<nav class="navbar">
  <div class="navbar-container" *ngIf="isLoggedIn">
    <div class="menu-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="nav-links" [class.collapsed]="isCollapsed">
      <a routerLink="/" class="navbar-logo">Inicio</a>
      <a routerLink="/usuarios" class="navbar-link">Usuarios</a>
      <a routerLink="/ciclos" class="navbar-link">Ciclos</a>
      <a routerLink="/profesores" class="navbar-link">Profesores</a>
      <a routerLink="/estudiantes" class="navbar-link">Estudiantes</a>
      <a routerLink="/materias" class="navbar-link">Materias</a>
      <a routerLink="/personas-responsables" class="navbar-link">Personas Responsables</a>
      <a routerLink="/matriculas" class="navbar-link">Matrículas</a>
      <a routerLink="/asistencias" class="navbar-link">Asistencias</a>
      <a routerLink="/calificaciones" class="navbar-link">Calificaciones</a>
      <a class="navbar-link" (click)="signOut()">Sign Out</a>
      <!-- <a routerLink="/check-grades" class="navbar-link">Check Grades</a> -->
    </div>
  </div>
</nav>