<div class="home-card">
  <div class="text-center mb-4">
    <img
      src="https://i.ibb.co/Kr4pkgM/logo-removebg-preview.png"
      alt="Logo"
      class="login-logo"
    />
  </div>
  <h2 class="home-title text-center mb-4">Gestión de Materias</h2>

  <!-- Formulario para crear/editar materia -->
  <form [formGroup]="materiaForm" (ngSubmit)="onSubmit()" class="mb-5">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="nombre" class="form-label">Nombre de la Materia</label>
        <input
          type="text"
          class="form-control login-input"
          formControlName="nombre"
          placeholder="Ingrese el nombre de la materia"
          required
        />
        <div
          *ngIf="materiaForm.get('nombre')?.invalid && materiaForm.get('nombre')?.touched"
          class="text-danger"
        >
          El nombre es obligatorio.
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="profesorId" class="form-label">Profesor</label>
        <select
          class="form-control login-input"
          formControlName="profesorId"
          required
        >
          <option value="" disabled selected>Seleccione un profesor</option>
          <option *ngFor="let profesor of profesores" [value]="profesor.id">
            {{ profesor.nombres }} {{ profesor.apellidos }}
          </option>
        </select>
        <div
          *ngIf="materiaForm.get('profesorId')?.invalid && materiaForm.get('profesorId')?.touched"
          class="text-danger"
        >
          Seleccionar un profesor es obligatorio.
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-login w-100">
      {{ editMode ? 'Actualizar Materia' : 'Crear Materia' }}
    </button>
  </form>

  <!-- Tabla para listar materias -->
  <div *ngIf="materias.length > 0">
    <h3 class="home-title text-center">Lista de Materias</h3>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Profesor</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materia of materias">
          <td>{{ materia.nombre }}</td>
          <td>{{ getProfesorNombreById(materia.profesorId) }}</td>
          <td>
            <button class="btn btn-home" (click)="onEdit(materia)">
              Editar
            </button>
            <button class="btn btn-home" (click)="onDelete(materia.id)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
